
<app-routing-related></app-routing-related>
<!-- <app-nav></app-nav> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-bindings></app-bindings> -->
<!-- <app-directives></app-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-component-communication></app-component-communication> -->
<!-- <app-component-life-cycle-hook></app-component-life-cycle-hook> -->
<!-- <app-angular-forms></app-angular-forms> -->
<!-- <app-services-dependency-injection></app-services-dependency-injection> -->


