<!-- Attribute Binding -->
<h1 class="text-center">Attribute Binding</h1>
<input type="text" [placeholder]="placeholder_text">
<br>
<br>
<input type="text" [placeholder]="placeholder_text" [(ngModel)]="username">
<p>{{username}}</p>


<!-- Property binding-->
<h1 class="text-center">Class Binding</h1>
<button [disabled]="isDisabled">Button With Property Binding</button>
<p [innerHtml]="innerHtml"></p>


<!-- Class Binding-->
<h1 class="text-center">Class Binding in Angular</h1>
<div [className]="'red size20'">Class binding with ClassName</div>

<h2>Conditionally apply Classes</h2>
<div [className]="cssStringVar">Conditionally apply Classes</div>

<h2>You can create a function, which returns the class based on some condition.</h2>
<div [className]="getClass()">This Returns Css Class From Function</div>

<h2>The following example uses the Conditional (Ternary) Operator.</h2>
<div [className]="hasError()? 'red': 'size20'">The following example uses the Ternary Operator</div>

<!-- Class binding with NgClass-->
<h1 class="text-center">Class binding with NgClass</h1>
<p class="text-center">The ngClass directive adds and removes CSS classes on an HTML element In Ng Class
  Directive wen can add classes with Array String Object
</p>

<h2>NgClass with a String</h2>
<div [ngClass]="'red size20'">with String</div>

<h2>without a square bracket</h2>
<div ngClass="red">NgClass without a square bracket</div>


<h2>NgClass with Array</h2>
<div [ngClass]="['red', 'size10']">Using NgClass with Array</div>

<h2>NgClass with Object</h2>
<div [ngClass]="{'red': true, 'size10':true}">Example of objects as CSS Classes</div>


<h1 class="text-center">Dynamically updating Class names</h1>
<p class="text-center">We can dynamically change the CSS Classes from the component</p>


<h2>Using strings</h2>
<div [ngClass]="cssStringVar1">dynamically change the CSS ing NgClass Using strings</div>


<h2>Using arrays</h2>
<div [ngClass]="cssStringVar2">dynamically change the CSS ing NgClass Using an array of strings</div>


<h2>Using JavaScript object</h2>
<!-- <div [ngClass]="cssClass">JavaScript object</div> -->


<!-- Angular ngStyle Directive -->
<h1 class="text-center">Angular ngStyle Directive</h1>
<input [(ngModel)]="color" />
<div [ngStyle]="{'color': color}">Change my color</div>


<!-- EVENT Binding -->
<h1 class="text-center" style="margin-top: 60px;">Event Binding</h1>



<h2>Event Binding Example</h2>
<button (click)="clickCount()">Click Me For Increment</button>
<p>{{click}}</p>


<h2>$event Payload</h2>
<input (input)="handleInput($event)" />
<p>You have entered {{value}}</p>
