<h1>What is Angular Directive</h1>
<p>
  The Angular directive helps us to manipulate the DOM. You can change the
  appearance, behavior, or layout of a DOM element using the Directives. They
  help you to extend HTML
</p>
<p>There are three kinds of directives in Angular:</p>
<ul>
  <li>Component Directive</li>
  <li>Structural directives</li>
  <li>Attribute directives</li>
</ul>


<h1 class="text-center">Structural Directives</h1>


<h2 class="text-center">NgFor</h2>

<h1> {{title}} </h1>
<ul *ngFor="let movie of movies">
  <li>${{movie.title}} - {{movie.director}}</li>
</ul>


<h2 class="text-center">Nested Array</h2>
<table class='table table-bordered table-sm '>
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Mail ID</th>
      <th>Skills</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees;">
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>
        <table class='table table-sm '>
          <tbody>
            <tr *ngFor="let skill of employee.skills;">
              <td>{{skill.skill}}</td>
              <td>{{skill.exp}}</td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>


<!-- NgSwitch -->

<input type="text" [(ngModel)]="num">
<div [ngSwitch]="num">
  <div *ngSwitchCase="'1'">One</div>
  <div *ngSwitchCase="'2'">Two</div>
  <div *ngSwitchCase="'3'">Three</div>
  <div *ngSwitchCase="'4'">Four</div>
  <div *ngSwitchCase="'5'">Five</div>
  <div *ngSwitchDefault="'5'">Number MustBe Lower than 6 and greater than 0</div>
</div>



<!-- ngIf, else, -->
<h1 class="text-center">ngIf else</h1>

<h2>Simple If block</h2>
<div *ngIf="condition">
  <p>Content to render, when the if condition is true </p>
</div>


<h2> If else block</h2>
<div *ngIf="condition; else elseBlock">
  <p>Content to render, when the if condition is true </p>
</div>

<ng-template #elseBlock>
  <p>Content to render, when the else condition is false </p>
</ng-template>




<h2> If then else block</h2>
<div *ngIf="condition; then thenBlock else elseBlock ">
  <p>Content to render, when the if condition is true </p>
</div>

<ng-template #thenBlock>
  <p>Content to render, when the if then condition is true </p>
</ng-template>

<ng-template #elseBlock>
  <p>Content to render, when the if else condition is true </p>
</ng-template>
