<h1 class="text-center">Working with Angular Pipes</h1>


<h2> Angular Pipes Using With Date</h2>
<p>medium : {{toDate | date:'medium'}} </p>
<p>short : {{toDate | date:'short'}} </p>
<p>fullDate : {{toDate | date:'fullDate'}} </p>
<p>longDate : {{toDate | date:'longDate'}} </p>
<p>mediumDate : {{toDate | date:'mediumDate'}} </p>
<p>shortDate : {{toDate | date:'shortDate'}} </p>
<p>mediumTime : {{toDate | date:'mediumTime'}} </p>
<p>dd-MM-y : {{toDate | date:'dd-MM-y'}} </p>
<p>dd-MM-yy HH:mm : {{toDate | date:'dd-MM-yy HH:mm'}} </p>


<h2> Angular Using With upercase and loercase</h2>
<p>{{msg | uppercase}}</p>
<p>{{msg | lowercase}}</p>


<h2> Angular Pipes Using With Slice</h2>
<p>Complete String :{{msg}} </p>
<p>{{msg | slice:0:5}}</p>
